*,
*::before, *::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body, :where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input, textarea, select, button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-blue: rgba(62, 156, 220, 1);
  --color-bold-blue: #286690;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-footer: #3D4050;
  --color-gray: #6F6D7B;
  --color-light-gray: #BBBBBB;
  --color-header: rgba(16, 16, 29, 0.9);
  --color-file: rgba(39, 39, 51, 1);
  --border-white: 1px solid var(--color-white);
  --border-gray: 1px solid var(--color-gray);
  --border-blue: 5px solid var(--color-bold-blue);
  --border-radius-button: 4px;
  --font-family-base: "Lato", sans-serif;
  --container-width: 1172px;
  --container-padding-x: 20px;
  --button-height: 43px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.0416666667vw, 20px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-white);
}

a, button, input, svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(32px, 2.5vw, 48px);
}

h2 {
  font-size: clamp(26px, 1.875vw, 36px);
}

h3 {
  font-size: clamp(20px, 1.4583333333vw, 28px);
}

h4 {
  font-size: clamp(16px, 1.0416666667vw, 20px);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 10px;
  font-size: 13px;
  color: var(--color-black);
  background-color: var(--color-white);
  border: var(--border-gray);
  border-radius: var(--border-radius-button);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
    border: var(--border-white);
    cursor: pointer;
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-white);
    background-color: var(--color-blue);
    border: var(--border-white);
    cursor: pointer;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-button);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-blue);
    cursor: pointer;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-blue);
    cursor: pointer;
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 -8px var(--color-white), 0 8px var(--color-white);
}

.wrapper-top {
  max-height: 850px;
  background: url("https://fedisaev.github.io/employcity/images/desktop.png") no-repeat center;
}
@media (max-width: 1023px) {
  .wrapper-top {
    max-height: 600px;
    background: url("https://fedisaev.github.io/employcity/images/tablet.png") no-repeat center;
  }
}
@media (max-width: 767px) {
  .wrapper-top {
    background: url("https://fedisaev.github.io/employcity/images/mobile.png") no-repeat center;
    background-size: 800px;
    max-height: 500px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  background-color: var(--color-header);
}
.header__logo span {
  color: var(--color-blue);
}
.header__logo > h3 {
  margin: 0;
  padding: 35px;
}
@media (max-width: 1280px) {
  .header__logo > h3 {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .header__logo > h3 {
    padding: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  font-size: 13px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 60px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .header__menu-list {
    column-gap: 30px;
  }
}
.header__menu-link {
  position: relative;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-blue);
    cursor: pointer;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-blue);
    cursor: pointer;
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-button);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-blue);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-blue);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
  background-color: var(--color-header);
  border-radius: var(--border-radius-button);
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
@media (hover: hover) {
  .mobile-overlay__item:hover {
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .mobile-overlay__item:active {
    color: var(--color-blue);
  }
}

.section-top {
  padding-block: 200px;
  color: var(--color-black);
}
@media (max-width: 1023px) {
  .section-top {
    padding-block: 130px;
  }
}
.section-top__body {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
@media (max-width: 1023px) {
  .section-top__body {
    max-width: 500px;
    row-gap: 50px;
  }
}
.section-top__title {
  text-transform: uppercase;
}
.section-top__title span {
  color: var(--color-blue);
}
@media (max-width: 767px) {
  .section-top__title {
    font-size: 20px;
  }
}
.section-top__subtitle h4 {
  margin: 0 0 5px;
}
.section-top__buttons {
  margin-bottom: 210px;
}
@media (max-width: 1023px) {
  .section-top__buttons {
    margin-bottom: 120px;
  }
}
.section-top__buttons button {
  width: 183px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .section-top__buttons button {
    width: 120px;
    margin-right: 15px;
  }
}

.main {
  background: url("https://fedisaev.github.io/employcity/images/background-bottom.png") var(--color-header) no-repeat;
  background-position: center;
}
.main__inner {
  padding-block: 120px;
}
@media (max-width: 1023px) {
  .main__inner {
    padding-block: 60px;
  }
}
.main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title {
  text-transform: uppercase;
  line-height: 43.2px;
  font-weight: 800;
  padding-bottom: 30px;
}
@media (max-width: 1023px) {
  .main__title {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .main__title {
    font-size: 20px;
  }
}
.main__title span {
  color: var(--color-blue);
}
.main__text {
  color: var(--color-light-gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
@media (max-width: 767px) {
  .main__text {
    text-align: center;
    font-size: 14px;
  }
}

.main__row {
  display: flex;
  padding-block: 80px;
}
@media (max-width: 1023px) {
  .main__row {
    padding-block: 50px;
  }
}
@media (max-width: 767px) {
  .main__row {
    display: block;
  }
}
.main__column {
  padding: 0 27px;
  flex: 0 0 20%;
}
@media (max-width: 1023px) {
  .main__column {
    padding: 0 1px;
  }
}
@media (max-width: 767px) {
  .main__column {
    padding: 10px 1px;
  }
}
@media (max-width: 767px) {
  .main-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.main-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .main-item__icon img {
    width: 75px;
  }
}
.main-item__text {
  text-align: center;
  line-height: 19.2px;
  font-weight: 400;
  font-size: 16px;
}

.order__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media (max-width: 767px) {
  .order__form {
    display: block;
  }
}

.order-item__select {
  width: 100%;
  height: 48px;
  border-radius: var(--border-radius-button);
  padding: 0 10px;
  outline: none;
  appearance: none;
  color: var(--color-white);
  background-color: var(--color-file);
  background-image: url("https://fedisaev.github.io/employcity/icons/main/arrow.svg"), linear-gradient(to bottom, var(--color-footer) 0%, var(--color-footer) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 20px 20px;
}
@media (max-width: 767px) {
  .order-item__select {
    margin-bottom: 10px;
  }
}

.order-item__input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: var(--border-radius-button);
  padding: 0 10px;
  outline: none;
}
@media (max-width: 767px) {
  .order-item__input {
    margin-bottom: 10px;
  }
}

.range {
  grid-column-start: 1;
  grid-column-end: 3;
}

.order-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
.order-item__label > span {
  display: flex;
  justify-content: space-between;
}
.order-item__range {
  width: 100%;
  height: 36px;
  appearance: none;
  outline: none;
  background: var(--color-file);
}
.order-item__range::-webkit-slider-runnable-track {
  border-radius: 10px;
  height: 6px;
  border: 1px solid var(--color-white);
  background-color: var(--color-light-gray);
}
.order-item__range::-moz-range-track {
  border-radius: 10px;
  height: 6px;
  border: 1px solid var(--color-white);
  background-color: var(--color-light-gray);
}
.order-item__range::-webkit-slider-thumb {
  background: var(--color-blue);
  border: 3px solid var(--color-bold-blue);
  border-radius: 50%;
  cursor: pointer;
  width: 23.72px;
  height: 23.72px;
  -webkit-appearance: none;
  margin-top: -10px;
}
.order-item__range::-moz-range-thumb {
  background: var(--color-blue);
  border: 3px solid var(--color-bold-blue);
  border-radius: 50%;
  cursor: pointer;
  width: 23.72px;
  height: 23.72px;
  margin-top: -10px;
}

.order-item__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.order-item__file-label {
  font-size: 15px;
  background: var(--color-white);
  color: var(--color-file);
  display: block;
  width: 100%;
  padding: 12px;
  justify-content: center;
  border-radius: var(--border-radius-button);
  cursor: pointer;
}
@media (max-width: 767px) {
  .order-item__file-label {
    margin-bottom: 10px;
  }
}
.order-item__file-label span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-item__file-label span img {
  padding-right: 10px;
}

.order__button {
  grid-column-start: 3;
  grid-column-end: 2;
}
.order__button button {
  width: 100%;
  font-size: 15px;
}

.footer-wrapper {
  background: var(--color-footer);
}

.footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
}
.footer__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 1023px) {
  .footer__inner {
    column-gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__copyright {
  text-align: center;
}

.footer__payment {
  padding: 0 45px;
  border-right: 1px solid var(--color-light-gray);
  border-left: 1px solid var(--color-light-gray);
}
@media (max-width: 1023px) {
  .footer__payment {
    padding: 20px 0;
    border-right: none;
    border-left: none;
  }
}
.footer__payment-list {
  display: flex;
  align-items: center;
  column-gap: 38px;
}
@media (max-width: 767px) {
  .footer__payment-list {
    column-gap: 20px;
  }
}
.footer__payment-item {
  color: var(--color-light-gray);
  display: flex;
  align-items: center;
  column-gap: 10px;
}
@media (max-width: 767px) {
  .footer__payment {
    column-gap: 5px;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/*# sourceMappingURL=styles.css.map */
